body {
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

div.blogdiv {
    margin: auto;
    height: auto;
    background-color: var(--soft-color2);
}

div.blogtitledistance {
    position: relative;
    height: 113px;
}

div.blogtext {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    padding-bottom: 60px;
}

@media screen and (max-device-width: 800px) {
    div.blogtext {
        width: 90%;
    }
}

div.blogtextinner {
    margin: 0px 5%;
}

div.navdiv {
    font-size:20px;
    font-weight: 300;
    margin: 0px 60px;
    text-align: center;
}

p.blogtitle {
    font-size:20px;
    font-weight: 400;
    margin: 20px 0px;
    padding-top: 60px;
    color: var(--dark-color1);
}

p.blogdate {
    font-weight: 400;
    margin: 20px 0px;
    color: var(--dark-color1);
}

p.posttitle {
    font-size:20px;
    font-weight: 300;
}

p.postdescription {
    font-size:20px;
    font-weight: 300;
}

p.sigtext {
    height: 32px;
    display: table-cell;
    vertical-align: middle;
}

img.sigimg {
    margin-right: 10px;
    height: 32px;
}