div.coverdiv1 {
    margin: auto;
    height:100vh;
    background-image: url("img/DSCF1875.JPG");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    position:relative;
    z-index:1;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

div.purplecoverdiv {
    margin: auto;
    height: auto;
    background-color: var(--soft-color1);
    color: white;
}

div.bluecoverdiv {
    margin: auto;
    height: auto;
    background-color: var(--soft-color2);
    color: white;
}

div.coverdiv3 {
    margin: auto;
    height: 100vh;
}

div.coverdiv3img {
    margin: -130vh auto;
    height: 100vh;
    background-image: url("img/DSCF1575.JPG");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: 0.5;
    position:relative;
    z-index:1;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

@media screen and (max-device-width: 800px) {
    div.coverdiv3img {
        background-attachment:scroll;
    }
    div.coverdiv1 {
        background-attachment:scroll;
    }
}

div.covertext {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

p.coverhugetext {
    top: 50%;
    font-size:40px;
    font-weight: 200;
}

p.coversubtitle {
    font-size:20px;
    font-weight: 200;
}

p.coverbread {
    font-size:20px;
    font-weight: 300;
}

div.experience {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    color: black;
}

div.experience_side {
    float: left;
    height: 100%;
    font-size:15px;
    font-weight: 200;
    padding: 20px;
}

p.experience_title {
    font-size:20px;
    font-weight: 200;
}

p.experience_company {
    font-size:15px;
    font-weight: 300;
}

p.experience_time {
    font-size:15px;
    font-weight: 200;
}

div.experience_main {
    height: 100%;
    font-size:15px;
    font-weight: 200;
    padding: 20px;
}