div.coverdiv1 {
    margin: auto;
    height:100vh;
    background-image: url("img/DSCF1875.JPG");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    position:relative;
    z-index:1;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

div.purplecoverdiv {
    margin: auto;
    height: auto;
    background-color: var(--soft-color1);
    color: white;
}

div.bluecoverdiv {
    margin: auto;
    height: auto;
    background-color: var(--soft-color2);
    color: white;
}

div.coverdiv3 {
    margin: auto;
    background-image: url("img/DSCF1575.JPG");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    position:relative;
    z-index:1;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

div.coverdiv4 {
    margin: auto;
    background-image: url("img/DSCF1005.JPG");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    position:relative;
    z-index:1;
    background-attachment:fixed;
    background-repeat:no-repeat;
    color: white;
}

@media screen and (max-device-width: 800px) {
    div.coverdiv4 {
        background-attachment:scroll;
    }
    div.coverdiv3 {
        background-attachment:scroll;
    }
    div.coverdiv1 {
        background-attachment:scroll;
    }
}

p.coverhugetext {
    top: 50%;
    font-size:40px;
    font-weight: 200;
}

p.coversubtitle {
    font-size:20px;
    font-weight: 200;
}

p.coverbread {
    font-size:20px;
    font-weight: 300;
}

table.experience {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    color: black;
    table-layout: fixed;
}

.experience td:nth-child(1) {
  width: 30%;
}

.experience td:nth-child(2) {
  width: 70%;
}

td.experience_side {
    height: 100%;
    font-size:15px;
    font-weight: 200;
    padding: 20px;
    vertical-align: top;
}

p.experience_title {
    font-size:20px;
    font-weight: 200;
    width: 100%;
}

p.experience_company {
    font-size:15px;
    font-weight: 300;
}

p.experience_time {
    font-size:15px;
    font-weight: 200;
}

@media (max-width: 800px) {
    table.experience {
        width: 90%;
    }
}

@media (max-width: 600px) {
    table.experience {
        width: 100%;
    }

    p.experience_title {
        font-size:12px;
    }

    p.experience_company {
        font-size:10px;
    }

    p.experience_time {
        font-size:10px;
    }
}

td.experience_main {
    height: 100%;
    font-size:15px;
    font-weight: 200;
    padding: 20px;
}

div.langdiv {
    font-size:40px;
    font-weight: 200;
}

span.whitebkg {
    background-color: white;
    color: #333333;
}