@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
  --dark-color1: #570147;
  --dark-color2: #1b5299;
  --soft-color1: #694d75;
  --soft-color2: #9fc2cc;
  --soft-color3: #f1ecce;
}

html {
    background-color: var(--soft-color2);
}

div.navbar {
    float: right;
    width: 100%;
    z-index: 10;
}

div.covertext {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

div.distance {
    position: relative;
    height: 30vh;
}

div.small_distance {
    position: relative;
    height: 64px;
}

div.half_small_distance {
    position: relative;
    height: 32px;
}

div.links {
    margin: auto;
    height: auto;
    background-color: var(--soft-color3);
    font-size:40px;
    font-weight: 200;
    text-align: center;
    position:relative;
    z-index:1;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

div.contact {
    margin: auto;
    height: auto;
    background-color: white;
    font-weight: 200;
    text-align: center;
    position:relative;
    z-index:1;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

img.imgbutton {
    padding: 10px;
    transition: transform .2s;
}

img.imgbutton:hover {
    transform: scale(1.5);
}

table.collapsetable {
    border: 0px;
    table-layout: fixed;
    display:table-cell;
    vertical-align:middle;
}

table.stretchtable {
    border: 0px;
    table-layout: fixed;
    width: 100%;
}

.glyphicon {
    font-size: 50px;
}